@{
    ViewBag.Title = "UnAuthorized";
}

<div class="row">
    <div class="col-md-4">
        <h2>UnAuthorized</h2>
        <p>
            Your credentials do not allow you to access this page. Please contact the IT Department for assistance.
        </p>
    </div>
</div>